/vendor
/node_modules
/bower_components
/bower
/.idea
/.settings
/storage/database.sqlite
/database/database.sqlite
/storage/oauth-private.key
/storage/oauth-public.key
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
Homestead.yaml
Homestead.json
.env
auth.json
npm-debug.log
*.sublime-project
*.sublime-workspace
